# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# VSCode / IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
logs/
*.log

# Ignore requirements file
requirements.txt
report_outline.md
report_outline.pdf